<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
    {% include "header.html" %}
</head>
<body>
    <h1>Dashboard</h1>
    
    {% if is_admin %}
    
        {% include "lista_usuarios.html" %}

        <a href="novo_usuario/"><button type="button">Novo Usuario</button></a>

    {% endif %}

    {% if is_tecnico %}
        {% include "lista_chamados.html" %}
    {% endif %}

    {% if is_cliente %}
        {% include "chamados_criados.html" %}
    {% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>