<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
</head>
<body>
    {% include "header.html" %}

    <h2 class="text-center my-4">Dashboard</h2>

    {% if is_admin %}
        <div class="mb-4">
            {% include "lista_usuarios.html" %}
        </div>
    {% endif %}

    {% if is_tecnico %}
        <div class="mb-4">
            {% include "lista_chamados.html" %}
        </div>
    {% endif %}

    {% if is_cliente %}
        <div class="mb-4">
            {% include "chamados_criados.html" %}
        </div>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>