{% include "header.html" %}

{% if is_tecnico %}
    <h2>Chamados Disponíveis</h2>
    <ul>
        {% for chamado in chamados_disponiveis %}
            <li>
                {{ chamado.titulo }} - Cliente: {{ chamado.cliente.username }}
                <a href="{% url 'detalhe_chamado' chamado.id_protocolo %}">
                    <button type="button">Ver detalhes</button>
                </a>
            </li>
        {% empty %}
            <li>Nenhum chamado disponível.</li>
        {% endfor %}
    </ul>

    <h2>Chamados em Atendimento</h2>
    <ul>
        {% for chamado in chamados_em_atendimento %}
            <li>
                <a href="{% url 'detalhe_chamado' chamado.id_protocolo %}">{{ chamado.titulo }}</a>
            </li>
        {% empty %}
            <li>Nenhum chamado em atendimento.</li>
        {% endfor %}
    </ul>
{% endif %}