<a href="{% url 'novo_usuario' %}">
    <button type="button">Criar Usuário</button>
</a>

<h3>Clientes</h3>
<ul>
    {% for cliente in clientes %}
        <li>
            <a href="{% url 'usuario' cliente.matricula %}">
                {{ cliente.username }}
            </a>
            | Matrícula: {{ cliente.matricula }} | Email: {{ cliente.email }}
        </li>
    {% empty %}
        <li>Nenhum cliente cadastrado.</li>
    {% endfor %}
</ul>

<h3>Técnicos</h3>
<ul>
    {% for tecnico in tecnicos %}
        <li>
            <a href="{% url 'usuario' tecnico.matricula %}">
                {{ tecnico.username }}
            </a>
            | Matrícula: {{ tecnico.matricula }} | Email: {{ tecnico.email }}
        </li>
    {% empty %}
        <li>Nenhum técnico cadastrado.</li>
    {% endfor %}
</ul>

<h3>Administradores</h3>
<ul>
    {% for admin in administradores %}
        <li>
            <a href="{% url 'usuario' admin.matricula %}">
                {{ admin.username }}
            </a>
            | Matrícula: {{ admin.matricula }} | Email: {{ admin.email }}
        </li>
    {% empty %}
        <li>Nenhum administrador cadastrado.</li>
    {% endfor %}
</ul>